<style>
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-main);
  }

  .logo-text {
    font-family: var(--font-family-sans);
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }

  @media screen and (max-width: 520px) {
    .logo-text {
      display: none;
    }
  }
</style>

<a href="/" class="logo">
  <span class="logo-text">NK</span>
</a>